.contact-area{
    margin-bottom: 150px;

    @media #{$large-device} {
        margin-bottom: 100px !important;
    }
    @media #{$medium-device} {
        margin-bottom: 70px !important;
    }
    @media #{$small-device} {
        margin-bottom: 50px !important;
    }
    @media #{$exSmall-device} {
        margin-bottom: 35px !important;
    }

    .contact-section{

        @media #{$large-device} {
            margin-bottom: 80px !important;
            padding-bottom: 20px;
        }
        @media #{$medium-device} {
            margin-bottom: 60px !important;
            padding-bottom: 10px;
        }
        @media #{$small-device} {
            margin-bottom: 40px !important;
            padding-bottom: 10px;
        }
        @media #{$exSmall-device} {
            margin-bottom: 25px !important;
            padding-bottom: 15px;
        }
    }
    .our-contact{
        .contact-wrapper{
            padding: 80px 70px;
            box-shadow: 0px 1px 15px 7px #ddd;

                    
            @media #{$large-device} {
                padding: 60px 50px;
            }
            @media #{$medium-device} {
                padding: 40px 30px;
            }
            @media #{$small-device} {
                padding: 20px 15px;
            }
            @media #{$exSmall-device} {
                padding: 10px;
            }
            .contact-title{
                h3{
                    font-family: $familyOpenSans;
                    @include font-s (small);
                    @include font-w(semiBold);
                    color: $contactColor;
                    margin-bottom: 25px;
                    text-transform: uppercase;

                    @media #{$medium-device} {
                        margin-bottom: 20px;
                    }
                    @media #{$small-device} {
                        margin-bottom: 15px;
                    }
                }
                input{
                    width: 100%;
                    height: 70px;
                    background-color: $grayBg;
                    margin-bottom: 30px;
                    padding: 0 20px;
                    outline: none;
                    border: 1px solid $btnColor;

                    @media #{$medium-device} {
                        height: 50px;
                    }
                    @media #{$small-device} {
                        height: 40px;
                    }
                    @media #{$exSmall-device} {
                        height: 30px;
                    }
                }
                input.name{
                    width: calc(100% - 15px);

                    @media #{$medium-device} {
                        width: calc(100% - 12px);
                    }
                    @media #{$small-device} {
                        width: calc(100% - 9px);
                    }
                    @media #{$exSmall-device} {
                        width: calc(100% - 5px);
                    }
                }
                textarea{
                    background-color: $grayBg;
                    margin-bottom: 50px;
                    height: 170px;
                    width: 100%;
                    padding: 20px;

                    
                    @media #{$medium-device} {
                        margin-bottom: 35px;
                        height: 100px;
                    }
                    @media #{$small-device} {
                        margin-bottom: 25px;
                        height: 70px;
                    }
                    @media #{$exSmall-device} {
                        margin-bottom: 15px;
                        height: 50px;
                    }
                }
            }
        }
        button{
            background: none;
            border: none;
            outline: none;
            a{
                transition: all .5s ease;
                @extend .btn;
                &:hover{
                    color: $white;
                    background: $btnColor;
                }
                &:active{
                    background: red;
                }
            }
        }
    }
    #reply{
        @include font-s(medium);
        @include font-w(bold);
        color:$btnColor;
        padding-top: 20px;
    }
}